:root {
  --primary-color: #7fff00
}

button {
  margin: 1.5rem;
  transition: 0.5s;
}

#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 60px;
}

#button1 {
  font-family: 'Times New Roman', Times, serif;
  border-radius: 90px;
  border-color: var(--primary-color);
  width: 10rem;
  padding: 10px;
  background-color: var(--primary-color);
}

#button2 {
  font-family: 'Times New Roman', Times, serif;
  border-color: var(--primary-color);
  width: 10rem;
  padding: 10px;
  background-color: var(--primary-color);
}

#button3 {
  font-family: 'Times New Roman', Times, serif;
  border-radius: 90px;
  border-color: var(--primary-color);
  width: 10rem;
  padding: 10px;
  background-color: var(--primary-color);
}

#button4 {
  font-family: 'Times New Roman', Times, serif;
  border-color: var(--primary-color);
  width: 10rem;
  padding: 10px;
  background-color: var(--primary-color);
}

#button5 {
  font-family: 'Times New Roman', Times, serif;
  border-radius: 90px;
  width: 10rem;
  padding: 10px;
  background-color: var(--primary-color);
}