:root {
  --primary-color: #7fff00;
  --secondary-color: #242920;
}

.text-center {
  text-align: center;
}

#color {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
  flex-wrap: wrap;
}

button {
  margin: 1.5rem;
  transition: 0.5s;
}

#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 60px;
}

.btn {
  color: var(--secondary-color);
  font-family: 'Times New Roman', Times, serif;
  border-color: var(--secondary-color);
  width: 10rem;
  padding: 10px;
  background-color: var(--primary-color);
}

#button1 {
  border-radius: 90px;
}

#button2 {

}

#button3 {
  border-radius: 90px;
}

#button4 {

}

#button5 {
  border-radius: 20px;
  padding: 10px;
}